<h1>Add a new meal</h1>

<%= form_for(@meal, :as => :meal, :url => create_meal_url(@restaurant), :method => 'post') do |f|%>
  Name: <%= f.text_field :name %><br />
  Description <%= f.text_area(:description, { :cols => 20, :rows => 3}) %><br />
  Meal Info <%= f.text_area(:meal_info, { :cols => 20, :rows => 3}) %><br />
  Picture: <%= f.file_field :picture %><br />
      <div class="m10">


          <div>Price: <%= f.text_field :price, :size => 3 %> (in AED)</div>

        <div>
          Tags: <%= f.text_field :tag_list, :size => 20 %>
          <span class="hint">(Comma seperated: chicken, beef, pizza...)</span>
        </div>

        <div>
          Cuisine: <%= f.select("cuisine_id",  @cuisines.map{|u| [u.name, u.id] }) %>
        </div>

      </div>

  <input type="hidden" name="restaurant" value="<%= @restaurant %>" />
  <%= f.submit " add meal " %>
<% end %>
