<% content_for :script do %>
<% end %>
<% content_for(:head) do %>
<style type="text/css">
#map { width:400px; height: 300px; border: 1px solid #c0c0c0 }
</style>
<% end %>
<h1>Add a new restaurant</h1>
<%= form_for(@restaurant, :as => :restaurant, :url => "/restaurants/create", :method => "post") do |f| %>

  <% unless admin_logged_in? %>
  <div class="m10">
    <div>
      Contact email address: <input type="text" name="email"/>
      <span class="hint">(Already have an admin account? <a href="/admin/login">login</a>)</span>
    </div>

    <div>
      City: <select name="city_id">
      <% @cities.each do |city| %>
        <option value="<%= city.id %>"><%= city.name %></option>
      <% end %>
      </select>
    </div>
  </div>
  <% end %>

  <div style="width:100%;border-bottom:1px solid #e0e0e0; margin: 20px 0 20px 0"></div>

  <div class="m10">
    Restaurant Name: <%= f.text_field :name %><br />
    Restaurant Description: <%= f.text_area :description, :rows => 5 %><br />
    Address: <%= f.text_area :address, :rows =>4 %><br />
    Website URL: <%= f.text_field :url %><br />
    Phone number: <%= f.text_field :phone %><br />
    <div>
     Cuisine: <%= f.select("cuisine_id",  @cuisines.map{|u| [u.name, u.id] }) %>
    </div>
  </div>

  <div class="p10 hint">
   By sending a request, we will contact you to setup a meeting.
  </div>

  <%= f.submit " send request ", :class => "p5 f18" %>


<% end %>
