
<link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css" />
<script src="/js/jquery.tagsinput.js"></script>

<script type="text/javascript">
        $(document).ready(function() {
          $('#addmore').bind('click', function() {

                var num     = $('.clonedInput').length; // how many "duplicatable" input fields we currently have
                var newNum  = new Number(num + 1);      // the numeric ID of the new input field being added



                if(num>9)
                return false;
               var news='<div id="input'+newNum+'" class="clonedInput"><label>Meal Info</label> <input type="text" size="30" name="addMeals[meal_info]" id="meal_info"><a onclick=remove_addmore("input'+newNum+'") href="javascript:void(0)">remove</a></div>';


                // create the new element via clone(), and manipulate it's ID using newNum value
               // var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);

                // manipulate the name/id values of the input inside the new element
                //newElem.children(':first').attr('id', 'name' + newNum).attr('name', 'name' + newNum);

                // insert the new element after the last "duplicatable" input field
                $('#input' + num).after(news);

                // enable the "remove" button
                $('#close').attr('disabled','');

                // business rule: you can only add 5 names
                if (newNum == 10)
                    $('#addmore').attr('disabled','disabled');

                });

            $('#btnDel').click(function() {
                var num = $('.clonedInput').length; // how many "duplicatable" input fields we currently have
                $('#input' + num).remove();     // remove the last element

                // enable the "add" button
                $('#addmore').attr('disabled','');

                // if only one element remains, disable the "remove" button
                if (num-1 == 1)
                    $('#addmore').attr('disabled','disabled');
            });

            $('#addmore').attr('disabled','disabled');

        });

        function remove_addmore(id){

         var num     = $('.clonedInput').length;
         if(num>1){
       $("#"+id).remove();

        }
        }

    </script>

<script>
  function onAddTag(tag) {
            alert("Added a tag: " + tag);
        }
        function onRemoveTag(tag) {
            alert("Removed a tag: " + tag);
        }

        function onChangeTag(input,tag) {
            alert("Changed a tag: " + tag);
        }

$(function() {

  $('#meal_comment_deal_tag').tagsInput({
width: 'auto',
onChange: function(elem, elem_tags)
{
var languages = ['php','ruby','javascript'];
$('.tag', elem_tags).each(function()
{

if($(this).text().search(new RegExp('\\b(' + languages.join('|') + ')\\b')) >= 0)
$(this).css('background-color', 'yellow');
});
}
});

});


</script>


<script type="text/javascript">
function validate_form_reject_rest_by_copywriter(id){
var meal_comment_name=document.getElementById('meal_comment_name').value;
var meal_comment_description=document.getElementById('meal_comment_description').value;
var meal_comment_meal_info=document.getElementById('meal_comment_meal_info').value;
var meal_comment_nutr_calories=document.getElementById('meal_comment_nutr_calories').value;
var meal_comment_nutr_fats = document.getElementById('meal_comment_nutr_fats').value
var meal_comment_nutr_sodium=document.getElementById('meal_comment_nutr_sodium').value;
var meal_comment_nutr_carbs = document.getElementById('meal_comment_nutr_carbs').value
var meal_comment_nutr_protein = document.getElementById('meal_comment_nutr_protein').value
var meal_comment_nutr_cholestrol = document.getElementById('meal_comment_nutr_cholestrol').value
var meal_comment_cuisine_id = document.getElementById('meal_comment_cuisine_id').value
document.getElementById("name").innerHTML=""
document.getElementById("about_meal").innerHTML=""
document.getElementById("meal_info").innerHTML=""
document.getElementById("picture").innerHTML=""
document.getElementById("calories").innerHTML=""
document.getElementById("fat").innerHTML=""
document.getElementById("sodium").innerHTML=""
document.getElementById("protein").innerHTML=""
document.getElementById("cuisine_name").innerHTML=""
document.getElementById("cholestrol").innerHTML=""
document.getElementById("carbs").innerHTML=""


var msg='false';
if(meal_comment_name==''){
msg='true';
document.getElementById("name").innerHTML="Enter Meal Name";
document.getElementById("meal_comment_name").focus();
}
if(meal_comment_cuisine_id==''){
msg='true';
document.getElementById("cuisine_name").innerHTML="Enter Address Line 1";
document.getElementById("meal_comment_cuisine_id").focus();
}
if(meal_comment_description==''){
msg='true';
document.getElementById("about_meal").innerHTML="Enter About Meals";
document.getElementById("meal_comment_description").focus();
}
if(meal_comment_meal_info==''){
msg='true';
document.getElementById("meal_info").innerHTML="Enter Meal info";
document.getElementById("meal_comment_meal_info").focus();
}

if(meal_comment_nutr_calories==''){
msg='true';
document.getElementById("calories").innerHTML="Enter calories value";
document.getElementById("meal_comment_nutr_calories").focus();
}
if(meal_comment_nutr_fats==''){
msg='true';
document.getElementById("fat").innerHTML="Enter fats value";
document.getElementById("meal_comment_nutr_fats").focus();
}
if(meal_comment_nutr_sodium==''){
msg='true';
document.getElementById("sodium").innerHTML="Enter sodium value";
document.getElementById("meal_comment_nutr_sodium").focus();
}
if(meal_comment_nutr_carbs==''){
msg='true';
document.getElementById("carbs").innerHTML="Enter carbs value";
document.getElementById("meal_comment_nutr_carbs").focus();
}
if(meal_comment_nutr_protein==''){
msg='true';
document.getElementById("protein").innerHTML="Enter protein value";
document.getElementById("meal_comment_nutr_protein").focus();
}
if(meal_comment_nutr_cholestrol==''){
msg='true';
document.getElementById("cholestrol").innerHTML="Enter cholestrol value";
document.getElementById("meal_comment_nutr_cholestrol").focus();
}

if(meal_comment_nutr_cholestrol==''){
msg='true';
document.getElementById("cholestrol").innerHTML="Enter cholestrol value";
document.getElementById("meal_comment_nutr_cholestrol").focus();
}

if(isNaN(meal_comment_nutr_cholestrol)){
msg='true';
document.getElementById("cholestrol").innerHTML="Enter Numeric Value for cholestrol";
document.getElementById("meal_comment_nutr_cholestrol").focus();
}
if(isNaN(meal_comment_nutr_fats)){
msg='true';
document.getElementById("fat").innerHTML="Enter Numeric Value for Fats";
document.getElementById("meal_comment_nutr_fats").focus();
}
if(isNaN(meal_comment_nutr_carbs)){
msg='true';
document.getElementById("carbs").innerHTML="Enter Numeric Value for Carbs";
document.getElementById("meal_comment_nutr_carbs").focus();
}
if(isNaN(meal_comment_nutr_protein)){
msg='true';
document.getElementById("protein").innerHTML="Enter Numeric Value for Protein";
document.getElementById("meal_comment_nutr_protein").focus();
}
if(isNaN(meal_comment_nutr_calories)){
msg='true';
document.getElementById("calories").innerHTML="Enter Numeric Value for calories";
document.getElementById("meal_comment_nutr_calories").focus();
}
if(isNaN(meal_comment_nutr_sodium)){
msg='true';
document.getElementById("sodium").innerHTML="Enter Numeric Value for Sodium";
document.getElementById("meal_comment_nutr_sodium").focus();
}




if(msg=='false')
return true;
else
return false;


}
</script>


<div class="add-deal group">
        <div class="loc">
            <h4>My locations</h4>
            <ul>
                <li class="selectedloc_leftnav">Moti Mahal - Jumerah</li>
                <li>Moti Mahal - Jumerah1</li>
                <li>Moti Mahal - Jumerah2</li>
            </ul>
            <a href="#" class="addlocation">Add a Loocation</a>
        </div><!-- add location ends-->

        <div class="add-deal-form">
            <ul class="tabs group">
            	<li class="activetab"> <%= link_to 'My Deals Library', :controller => 'restaurants', :action => 'my_deals_library'%></li>
                <li> <%= link_to 'Deals Pipeline', :controller => 'restaurants', :action => 'deals_pipeline' %></li>
                <li> <%= link_to 'Manage Locations', :controller => 'restaurants', :action => 'manage_locations'%></li>
                <li> <%= link_to 'My Account', :controller => 'restaurants', :action => 'my_account'%></li>
                <li> <%= link_to 'Order History', :controller => 'restaurants', :action => 'order_history' %></li>
            </ul>

            <ul class="tab-content">
                <li class="visible">
                    <span style="color:red"><%=flash[:notice]%></span>

                    <%= form_for(@rej_copy, :as =>:meal_comment, :url =>"reject_copywriter",:id => @rej_copy.id, :method => "post",:html=>{:onSubmit=>"return validate_form_reject_rest_by_copywriter(this);",:name=>"reject_copywriter"}) do |f| %>
                  <div id="add-deal-location" style="display: block">
                    <div style="position:absolute;right:20px;">

                                <div class="comment ">
                                        <div class="highlight">
                                        See something wrong or need to change something?
                                        <textarea id="txt_ar"><%=  @meal_comment.commented_data%></textarea>
                                        
                                      
                                    </div>
                                </div>
                    </div>
                        <%if @rej_copy.nil?%>
                        <h4>Add Deal for Moti Mahal - Jumerah <span class="bus_back"><a href="#">back</a></span></h4>
                        <p class="notify">Currently you have no deals for this restaurant. Start adding a deal below</p>
                        <%end%>
                         
                            <label>Deal Name</label> <div class="clear"></div>
                            <span id="name" style="color:#ee0000;"></span><div class="clear"></div>
                            <%=f.text_field :name, :class=>(@meal_comment.deal_name=="1" ?'err_field':' ')%>
                            <div style="color:red;" id="error_msg" ></div>
                            <span class="error"></span>
                            <div class="clear"></div>

                            <label>Select cuisine</label>

                            <div class="clear"></div>
<span id="cuisine_name" style="color:#ee0000;"></span><div class="clear"></div>

                             <%= f.select(:cuisine_id, @cuisine_array) %>
                            <div class="clear"></div>
                          <%=  f.hidden_field :update_meal, :value=>params[:id]  , :name=> "update_meal"%>
                            <label>About the meal</label>
                            <div class="clear"></div>
                            <span id="about_meal" style="color:#ee0000;"></span>
                            <div class="clear"></div>
                           <%=f.text_area :description ,:class=>(@meal_comment.description=="1" ?'err_field':' ')%>
                            <div class="clear"></div>
                            <div class="clonedInput" id="input1">

                              <label>Meal Info</label><div class="clear"></div>
                              <span id="meal_info" style="color:#ee0000;"></span><div class="clear"></div>
                           <!-- <input type="checkbox" class="check"> -->
                             <%=  f.text_field :meal_info , :class=> (@meal_comment.meal_info=="1" ?'err_field':' ')%>

                           <!--<a href="javascript:void(0)" onclick="remove_addmore('input1')">remove</a>-->
                            </div>


                            <div class="clear"></div>
                            <a href="javascript:void(0)" id="addmore">Add more</a>
                            <div class="clear"></div>

                            <label>Add Deal Tags</label>
<span id="deal_tag" style="color:#ee0000;"></span><div class="clear"></div>
                              <%=f.text_field :deal_tag ,:class=> (@meal_comment.deal_tag=="1" ?'err_field':' ') %>
                            <div class="clear"></div>

                            <label>Upload Photos</label>
                            <div class="clear"></div>
                            <span id="picture" style="color:#ee0000;"></span><div class="clear"></div>
                            <div class="file">
                              <%= image_tag  @rej_copy.picture(:mobile), :size=>"50x50",%>
                            <%= f.file_field :picture,:class=>(@meal_comment.picture_file_name=="1" ?'err_field':' ')%>
                            </div>
                            <div class="clear"></div>
<span id="calories" style="color:#ee0000;"></span><div class="clear"></div>
<span id="fat" style="color:#ee0000;"></span><div class="clear"></div>
<span id="protein" style="color:#ee0000;"></span><div class="clear"></div>
<span id="carbs" style="color:#ee0000;"></span><div class="clear"></div>
<span id="sodium" style="color:#ee0000;"></span><div class="clear"></div>
<span id="cholestrol" style="color:#ee0000;"></span><div class="clear"></div>

                            <b id="toggle-nutrition1"  class="toggle-nutrition expand" onclick="ToggleFacts();">Add Nutritional Facts</b>   <div  id="nutrition-values" class="clear">
                            <table class="nutri">
                            <thead>
                                <tr>
                                    <th class="des">Description</th>
                                    <th class="val">Value</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="alt">
                                    <td class="des">Calories</td>
                                    <td class="val"><%=f.text_field :nutr_calories,:class=> (@meal_comment.nutr_calories=="1" ?'err_field':' ')%></td>
                                </tr>
                                <tr class="">
                                    <td class="des">Total Fat</td>
                                    <td class="val"><%=f.text_field :nutr_fats, :class=> (@meal_comment.nutr_fats=="1" ?'err_field':' ')%></td>
                                </tr>

                                <tr class="alt">
                                    <td class="des">Cholestrol</td>
                                    <td class="val"><%=f.text_field :nutr_cholestrol, :class=> (@meal_comment.nutr_cholestrol=="1" ?'err_field':' ')%></td>
                                </tr>

                                <tr class="">
                                    <td class="des">Sodium</td>
                                    <td class="val"><%=f.text_field :nutr_sodium,:class=> (@meal_comment.nutr_sodium=="1" ?'err_field':' ')%></td>
                                </tr>

                                <tr class="alt">
                                    <td class="des">Total Carbs</td>
                                    <td class="val"><%=f.text_field :nutr_carbs,:class=>(@meal_comment.nutr_carbs=="1" ?'err_field':' ')%></td>
                                </tr>

                                <tr class="">
                                    <td class="des">Protein</td>
                                    <td class="val"><%=f.text_field :nutr_protein,:class=>(@meal_comment.nutr_protein=="1" ?'err_field':' ') %></td>
                                </tr>
                            </tbody>

                            </table>
                            </div>
                            <div class="clear"></div>
                            <div class="actions">
                               <%=f.submit "Submit" %><%#*<a href="#" class="submitdeal"></a>%>
                            </div>

                       <%end%>
                    </div><!--add-deal-location ends-->
                </li>
            </ul>
        </div>
    </div>