<script type="text/javascript">
$(document).ready(function(){
  var pos = new google.maps.LatLng(25.118,55.184); // center
  var opts = {zoom:11,center:pos,mapTypeId:google.maps.MapTypeId.ROADMAP};
  var map = new google.maps.Map(document.getElementById("map"), opts);
  var points = new Array(<% if @cluster.points -%>
  <% all_points = @cluster.points.split("|")
    all_points.each do |p| -%>
    <%= "new google.maps.LatLng(#{p})" -%><%= "," unless p.eql?(all_points.last) %>
  <% end -%>
  <% end -%>); 
  var area = null;
  map.setCenter(pos);

  redraw = function(){
    if(area){ area.setMap(null) }
    area = new google.maps.Polygon({paths:points,strokeColor:"#999999",strokeWeigth:1,strokeOpacity:0.7,fillColor:"#999999",fillOpacity:0.2, clickable:false });
    area.setMap(map);       
  };

  updatepoints = function(){
    var tmp = ""; var i; for(i in points){tmp+=points[i].lat()+","+points[i].lng()+"|"}
    $("#cluster_points").val(tmp.substring(0,tmp.length-1));           
  };

  var listener = google.maps.event.addListener(map, "click", function(e){
    points[points.length] = new google.maps.LatLng(e.latLng.lat(), e.latLng.lng());
    if(points.length > 2)
    {
      $("#maphint").html("<a href=\"<%= jv %>\" id=\"mapundo\">undo last point</a>");
      redraw();
      $("#mapundo").click(function(){points.pop();updatepoints();redraw()});
    } 
    else {$("#maphint").html("You need at least 3 points, "+(3-points.length).toString()+" more"); }
    updatepoints();
  });


  // if cluster exists already
  <% if @cluster.points -%>redraw();
    map.fitBounds(area.getBounds());
  <% end %>
  

});
</script>
<div>
New cluster
</div>

<p>Add a new cluster</p>
<%= form_for @cluster, :as => :cluster, :url => "/admin/cluster", :method => "post"  do |f| %>
  <div>Name: <%= f.text_field :name, :size => 20 %></div>
  <div>Description: <%= f. text_area :description, :cols => 25, :rows => 5 %></div>

  <%= f.hidden_field :points %>

  <div id="map" style="width:330px;height:220px; border: 1px solid #ccc">
  </div>
  <div id="maphint" class="hint"></div>

  <div><%= f.submit ' create ' %></div>
<% end %>


